<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.myapps.mobilecheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.UserPresentReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT">
                </action>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.myapps.mobilecheck.provider.CountProvider"
            android:authorities="com.myapps.mobilecheck.count.provider"
        />
    </application>

</manifest>